/* -------- CSS RESET --------*/

* {
    padding: 0;
    margin: 0;
    font-size:100%;
    line-height: 1em;
}

body {
        width: 75%;
        max-width: 700px;
        font-family: 'Libre Baskerville', 'Open Sans', 'Arvo', Serif;
        margin: auto;
        font-size: 125%;
        background-color: #F0f0f0;
        color: #333;
        line-height: 1.8;
}
    
/*----------------------TYPOGRAPHY-----------------------*/
    
h1, h2, h3 {
    font-weight: normal;
    color: #F4776B;
    text-align: center;}

p, li {
    font-size: .8em;
    margin-bottom: 2em;
    line-height: 1.5;}

h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .1em;}

h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .25em;
    text-align: left;
    padding-left: .5em;
    }

h3 {
    font-style: italic;
    color: #A93226;
    margin-top: 1em;
}

img {
    display:block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;}

.conclusion {
    font-size: 10%;
}

.drop {
    font-size:200%;  
  height:.6em; 
  float:left; 
  color:#333;
  line-height: .8em;
}

table, th, td {
    
}
 
th, td { 
    padding: 15px;
    text-align: left;
}

th {
    background-color: #FCE2E0;
    color: #F4776B
}

td, th {
border: 1px solid transparent;
height: 30px;
transition: all 0.3s;
}

th {
background: #FCE2E0; /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

tr:nth-child(even) td { background: #FCE2E0;
                        color: #909497}

tr:nth-child(odd) td { background: #FEFEFE;
                        color:#F4776B }

tr td:hover { background: #A93226; color: #FFF; } 





